version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    container_name: activitypub_web
    ports:
      - "5000:5000"
    volumes:
      - ./data/activitypub:/var/www/activitypub
      - ./scripts:/usr/local/bin  # activitypub-send.py を呼び出せるように追加
    depends_on:
      - lmtp
    environment:
      - FLASK_ENV=production
    restart: unless-stopped

  postfix:
    image: instrumentisto/postfix
    container_name: activitypub_postfix
    hostname: postfix
    environment:
      - MAILNAME=ipcnode.local
      - SMTP_SERVER=postfix
    volumes:
      - ./data/mail:/var/mail
      - ./data/postfix:/etc/postfix
    restart: unless-stopped

  dovecot:
    image: dovecot/dovecot
    container_name: activitypub_dovecot
    hostname: dovecot
    volumes:
      - ./data/mail:/var/mail
      - ./data/dovecot:/etc/dovecot
    depends_on:
      - postfix
    restart: unless-stopped

  lmtp:
    build:
      context: .
      dockerfile: Dockerfile.lmtp
    container_name: activitypub_lmtp
    ports:
      - "2626:2626"
    volumes:
      - ./data/activitypub:/var/www/activitypub
      - ./scripts:/usr/local/bin
    restart: unless-stopped
